<!DOCTYPE html> 
<html> 
 <head> 
  <meta charset="UTF-8" /> 
  <title>Page menu</title> 
 </head> 
 <body> 
  <!--
    Only the internal content of the following div is included within
    the template, in menu fragment
    --> 
  <div data-layout-fragment="menu"> 
   <!-- Main navbar --> 
   <nav class="navbar navbar-inverse navbar-fixed-top"> 
    <div class="container"> 
     <div class="navbar-header"> 
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Menu</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> 
      <!-- Brand logo --> 
      <div class="organization-logo navbar-brand"> 
       <a title="Spring MVC RESTful" href="/"> <img alt="Spring MVC RESTful" data-th-src="@{/public/img/logo.png}" src="../../static/public/img/logo.png" /> </a> 
      </div> 
      <!-- Name application --> 
      <div class="application-name navbar-brand hidden-xs">
       <a href="/" data-th-href="@{/}">Spring MVC RESTful</a>
      </div> 
     </div>
     <!-- /navbar-header --> 
     <div id="bs-example-navbar-collapse-1" class="navbar-collapse collapse"> 
      <ul class="nav navbar-nav"> 
       <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_category})}">Category<span class="caret"></span></a> 
        <ul class="dropdown-menu"> 
         <li><a href="/categories/create-form" data-th-text="#{label_create_entity(#{label_category})}">Create Category</a></li> 
         <li><a href="/categories" data-th-text="#{label_list_entity(#{label_category_plural})}">List Category</a></li> 
        </ul> </li> 
       <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_customer})}">Customer<span class="caret"></span></a> 
        <ul class="dropdown-menu"> 
         <li><a href="/customers/create-form" data-th-text="#{label_create_entity(#{label_customer})}">Create Customer</a></li> 
         <li><a href="/customers" data-th-text="#{label_list_entity(#{label_customer_plural})}">List Customer</a></li> 
        </ul> </li> 
       <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_customerorder})}">CustomerOrder<span class="caret"></span></a> 
        <ul class="dropdown-menu"> 
         <li><a href="/customerorders/create-form" data-th-text="#{label_create_entity(#{label_customerorder})}">Create CustomerOrder</a></li> 
         <li><a href="/customerorders" data-th-text="#{label_list_entity(#{label_customerorder_plural})}">List CustomerOrder</a></li> 
        </ul> </li> 
       <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-th-utext="#{label_menu_entry(#{label_product})}">Product<span class="caret"></span></a> 
        <ul class="dropdown-menu"> 
         <li><a href="/products/create-form" data-th-text="#{label_create_entity(#{label_product})}">Create Product</a></li> 
         <li><a href="/products" data-th-text="#{label_list_entity(#{label_product_plural})}">List Product</a></li> 
        </ul> </li> 
      </ul> 
      <!-- Languages --> 
      <div data-layout-include="fragments/languages :: languages"> 
       <span>Languages</span> 
      </div> 
      <!-- Menu --> 
      <div data-layout-include="fragments/session-links :: session"> 
       <!-- Content replaced by languages and session template fragment session-links.html --> 
       <span>User session data</span> 
      </div> 
     </div> 
    </div> 
   </nav> 
  </div> 
 </body> 
</html>